AIRFLOW_UID=
POSTGRES_DATA_USER=
POSTGRES_DATA_PASSWORD=
POSTGRES_DATA_DB=
POSTGRES_META_USER=
POSTGRES_META_PASSWORD=
POSTGRES_META_DB=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
DATA_API_URL=
GROUP_NUMBER=
